<?xml version="1.0" encoding="utf-8"?> 
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\packages" />
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageSources>
	<clear />
	<add key="CognitiveServicesSharedComponents" value="https://msazure.pkgs.visualstudio.com/a531312f-ba7b-4573-ab4f-d468b740a319/_packaging/CognitiveServicesSharedComponents/nuget/v3/index.json" />
  </packageSources>
</configuration>