// 768px
@media (max-width: 768px) {
    .hidden_medium {
        display: none !important;
    }

    .expand_medium {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .hidden_medium_large {
        display: none !important;
    }
}